<h3>Fight</h3>

<h4> Target </h4>
<p> Trainer: <%= @target_trainer.name %> </p>
<p> Pokemon: <%= @target_pokemon.name %> </p>

<h4> Attack With </h4>

<%= form_tag damage_path(target: @target_pokemon) do %>
	<%= collection_select(:attacker, :pokemon_id, @pokemons, :id, :name) %>
  	<%= submit_tag "Attack!", :class => "button medium" %>
<% end %>