<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<% if @logged_in %>
	<%= button_to "Create Pokemon", new_pokemon_path, :class => "button medium", :method => :get %>
<% end %>

<h3>Captured Pokemons</h3>
<% if @pokemons.any? %>
<% @pokemons.each do |p| %>
<p>
	<i>Name:</i> <%= p.name %>, <i>Level:</i> <%= p.level %>, <i>Health:</i> <%= p.health %>
	<%= button_to "Damage!", damage_path(id: p), :class => "button small", :method => :patch %>
</p>
<% end %>
<% else %>
<%= 'None!' %>
<% end %>